*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    background-color: #4e9ffe;
    height: 100px;
    
}

header img{
    width: 12%;
    padding-top: 50px;
}

main, header img{
    margin-left: 15%;
    margin-right: 15%;
}

h1{
    margin-top: 50px;
    font-size: 50px;
}

.autore{
    color: #20a9e5;
}

.data{
    font-size: 75%;
}

.introduzione, .data{
    color: grey;
}

.descrizione_foto{
    font-size: 75%;
}

#articolo, ul, table{
    margin-top: 30px;
}

.evidenziato{
    background-color: yellow;
}

table{
    border-spacing: 0;
}
tr,td{
    width: 15%;
    text-align: left; 
    border: 0;
}

td{
    height: 50px;
}

th{
    background-color: #20a9e5;
    color: white;
}


.colore{
    background-color: #b1e5f2;
}